<div class="inline absolute-center">
	<h1>CodeSearch</h1>
	<form class="form-inline" action="@Url.Action("Search", "Home")" method="get">
		<div class="input-group" style="width:100%;">
			<input id="main-input" placeholder="Search for a snippet of code..." maxlength="2048" name="q" type="text" autocomplete="off" class="form-control" style="width:100%;">
			 <span class="input-group-btn">
        		<button class="btn btn-default" type="submit">Go!</button>
      		</span>
		</div>
	</form>
</div>